/* .personal-info-details {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.school-left {
  display: flex;
  gap: 16px;
}

.experience-info-details {
  display: flex;
  justify-content: space-between;
}

.experience-info-left {
  display: flex;
  gap: 16px;
}

.hidden {
  display: none;
}

.personal-info-input {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.experience-input {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.resume-form{
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-start;
} */